* {
	font-family: Pontano Sans;
}

#portrait {
	height:150px;
	width:150px;
}

#portrait img {
	width:100%;
	height: auto;
	margin-left: 200px;
	margin-top: 20px;
}

h2 {
	font-size: 30px;
	margin-left: 360px;
	margin-top:-40px;
	margin-bottom:40px;
}

#header {
	margin-left: 20px;
	top: 150px;
}

#tbody {
	height: 100px;
	width: auto;
	top:1000px;
}

#tbody img {
	width:100%;
	height:auto;
}

#table-text {
	font-size: 30px;
	font-weight: 3px;
	margin:auto;
}

#social-youtube {
	position: absolute;
	height: 35px;
	width: 35px;
	top: 19px;
	right: 80px;
}

#social-youtube img {
	width:110%;
	height:auto;
}

#social-facebook {
	position: absolute;
	height: 35px;
	width: 35px;
	top:20px;
	right: 120px;
}

#social-facebook img {
	width:105%;
	height:auto;
}

#social-twitter {
	position: absolute;
	height: 35px;
	width: 35px;
	top:19px;
	right: 160px;
}

#social-twitter img {
	width:110%;
	height:auto;
}

#social-linkedin {
	position: absolute;
	height: 35px;
	width: 35px;
	top:20px;
	right: 200px;
}

#social-linkedin img {
	width:100%;
	height:auto;
}

#social-github {
	position: absolute;
	height: 35px;
	width: 35px;
	top:20px;
	right: 240px;
}

#social-github img {
	width:100%;
	height:auto;
}

#social-googleplus {
	position: absolute;
	height: 35px;
	width: 35px;
	top:20px;
	right: 280px;
}

#social-googleplus img {
	width:100%;
	height:auto;
}

div > p {
	height: 10px;
	width:10px;
}


h1 {
	font-size: 20px;
	position:absolute;
	top: 800px;
	left: 1200px;
	right:10px;
}

body {
	background-color: none;
}
/*image background
body {
	background-image: url("http://1.bp.blogspot.com/-OIVBcdz-9C0/UCToja4rkVI/AAAAAAAAAvo/YU1eo6nWcGo/s1600/Torres+del+Paine+National+Park,+Chile.jpg");
}
*/

