* {
	font-family: Gotham;
}

h1 {
	margin: 50px 50px 5px 50px;
}

h2 {
	margin: 10px 50px 10px 80px;
}

h4 {
	margin: -30px 50px 25px 900px;
	
}

p {
	margin: 15px 50px 10px 50px;
}


#firstparagraph {
	border-top: 2px solid #161693;
	padding-top: 15px;
	margin: 1px 50px 1px 50px
} 
#bottomparagraph {
	border-bottom: 2px solid #19A3A3;
	padding-bottom: 15px;
	margin: 0px 50px 0px 50px
}


#top {
	height: 2px;
	width: 1090px;
	background-color: #161693;
	margin: 1px 50px 1px 50px;
}
 
 #bottom {
 	height: 2px;
 	width: 1090px;
 	background-color: #19A3A3;
 	margin: 0px 50px 0px 50px;
 }
