html {
  font-color: red;
  height: 100%;
}

body {
  height: 100%;
}

header {
  background-image: url("../images/banner-beach-railway.jpeg");
  background-size: cover;
  height: 400px;
}

.top-header-buttons {
  border: 1px solid red;
  display: inline-block;
}

