html {
  font-family: Rokkitt;
  height: 100%;
}

body {
  height: 100%;
 }

header {
  background-image: url("../images/blog/header-dark-forest-trees.jpeg");
  background-position: 0px -60px;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: white;
  position: relative;
}

header > h1 {
  font-size: 80px;
  padding-top: 140px;
  text-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

h2 {
  font-size: 28px;
  margin-top: 10px;
}

.social-icon-container {
  bottom: 20px;
  position: absolute;
  right: 30px;
}

.social-icon-container > a {
  display: inline-block;
  margin-left: 10px;
}

h3 {
  color: white;
  font-size: 50px;
  padding-right: 110px;
  padding-top: 60px;
  text-align: right;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

section {
  height: 280px;
  margin-top: 30px;
}

.my-blog a {
  color: white;
}

.banner-text a {
  text-decoration: none;
  color: white;
}

a:active {
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

#about-me {
  background-image: url("../images/blog/banner-leaves-on-deck.jpeg");
  background-size: cover;
}

#my-blog {
  background-image: url("../images/blog/banner-jellyfish.jpg");
  background-size: cover;
  background-position: 0 -240px;
}

#my-projects {
  background-image: url("../images/blog/banner-work-station-2.jpeg");
  background-size: cover;
  background-position: 0 680px; /*0 480px for work-station-2.jpeg*/
}

#my-timeline {
  background-image: url("../images/blog/banner-bexley.jpg");
  background-size: cover;
  background-position: 0 -250px;
  margin-bottom: 30px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 3);
}



