html {
  font-family: "Lora", serif;
  font-weight: 300;
  height: 100%;
}

body {
  height: 100%;
 }

header {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.image {
  background-image: url("../images/blog/cheetah-eat-antelope.jpg");
  background-position: 0px -60px;
  background-size: cover;
  height: 400px;
  margin: 50px auto;
  width: 700px;
}

h1 {
  font-size: 50px;
  line-height: 120%;
  margin: 25px auto;
  max-width: 700px;
}

h2 {
  font-size: 26px;
  line-height: 120%;
  margin:25px auto;
  max-width: 700px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 120%;
  margin: 15px;
}

.blog-text > section {
  font-size: 20px;
  line-height: 160%;
  margin: 30px auto;
  max-width: 700px;
  padding: 20px ;
}

p {
  margin: 20px 0;
}

.paragraph-head {
  font-weight: bold;
}
