html {
  font-family: "Lora", serif;
  font-weight: 300;
  height: 100%;
}

body {
  height: 100%;
 }

header {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.image {
  background-image: url("../images/blog/rainbow-fruit.jpg");
  background-position: 0px -60px;
  background-size: cover;
  height: 400px;
  margin: 50px auto;
  width: 700px;
}

h1 {
  font-size: 50px;
  line-height: 120%;
  margin: 25px auto;
  max-width: 740px;
}

h2 {
  font-size: 26px;
  line-height: 120%;
  margin:25px auto;
  max-width: 700px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 120%;
  margin: 15px;
}

.blog-text > section > .code-snippet-container {
  font-size: 20px;
  line-height: 160%;
  margin: 20px auto;
  max-width: 900px;
  padding: 10px ;
  text-align: center;
}

.blog-text > section > #extra-wide {
  max-width: 1340px;
}

.blog-text > section > p {
  font-size: 20px;
  line-height: 160%;
  padding: 30px 0px 20px 0px;
  max-width: 700px;
  margin: 0px auto;
}

p {
  margin: 20px 0;
}

.paragraph-head {
  font-weight: bold;
}

.code-snippet-container {
  margin-top: 20px;
}
